#anzeige{
	display: block;
	position: relative;
	margin: 0 auto;
	border: groove 4px #333;
	padding: 0;
	overflow: hidden;
	width: 1080px;
	height: 720px;
	background-color: black;
	font-family: Verdana;
	color: white;
	cursor: none;
}

#punkte{
	position: absolute;
	z-index: 5;
	right: 0;
	font-size: 48px;
	margin-right: 5px;
}

#energie{
	position: absolute;
	z-index: 5;
	right: 0;
	bottom: 0;
	font-size: 48px;
	margin-right: 5px;
}